body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* header */


.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #2e304a;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #505269;
    padding: 38px 0;
    align-items: center;
}

.nav {
    font-size: 13px;
    display: flex;
   
}

.nav__link {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.75;
    margin-left: 60px;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    text-decoration: underline;
    opacity: 1;
    transition: opacity .2s linear;
}


/* intro */

.intro {
    height: 750px;
    padding-top: 100px;
    background: #2e304a url('../images/bg_intro.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
  
}

.intro__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    color: #ffffff;
    
    font-weight: 400;;
    margin-bottom: 70px;
}

/* button  */

.btn {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 52px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    font-family: 'Raleway', sans-serif;
    transition: background .8s linear;
}

.btn--red {
    background: #e84545;
}

.btn--red:hover {
    background: #c95d5d;
}

.btn--long {
    min-width: 280px;
}

/* features  */

.features {
    display: flex;
    margin: 100px 0;
    flex-wrap: wrap;

}

.features__item {
    width: 33.3333%;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 60px;
}

.features__icon {
    margin: 25px 0;
}

.features__title {
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;
    font-size: 14px;
    margin-bottom: 15px;
}

.features__text {
    font-size: 14px;

    line-height: 1.5;
    color: #6c7279;
}

/* __WORkS*/

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.works__image {
    min-width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    width: 100%;
    height: 100%;
    background: rgba(232, 69, 69, 0.9);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: opacity 1s linear;
}

.works__content:hover {
    opacity: 1;
}

.works__title {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 10px;
}

.team {
    margin: 100px 0 70px;
}

.team__flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team__name {
   color: #2d3033;
   font-size: 22px;
   margin-bottom: 10px;;

}

.team__position {
    margin-bottom: 15px;

    text-transform: uppercase;
    color: #ea5151;
    font-size: 13px;
}

.team__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 20px;

}

/* SOcial */

.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    border: 1px solid #e8ecee;
    background-color: #ffffff;

    transition: background .5s linear;

}

.social__item:hover {
    background: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #ea5151;
}

.social__icon {
    fill: #c6cacc;
    display: block;
    height: 18px;

    transition: fill .5s linear;
}


.social--footer .social__item {
    background: none;
    border: 2px solid #fff;
    fill: #ffffff;
}


/*  reviews-------*/

.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    margin-bottom: 25px;

    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #ffffff;

}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}


/* DOWNLOAD */

.download {
    margin: 90px 0;

    text-align: center;
}


.download__title {
    margin-bottom: 10px;

    font-size: 28px;
    color: #2d3033;
    font-weight:300px;
}

.download__text {
margin-bottom: 30px;

font-size: 13px;
color: #2d3033;
text-transform: uppercase;
font-weight: 700;

}

/* footer*/

.footer {
  

    background-color: #3a3e64;

}

.footer__inner {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;

}

.footer__col {
    width: 33.3333333%;
    text-align: center;
    padding: 0 15px;
}

.footer__title {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__address {
    font-style: normal;
    color: rgba(250, 250, 250, 0.5);
    line-height: 1.5;
    font-size: 14px;
}

.footer__text {
    color: rgba(250, 250, 250, 0.5);
    line-height: 1.5;
    font-size: 14px;
}



.footer__copyright {
    background: #313454;
    padding: 20px 0;
}

.copyright__text {
    
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    color: #808080;
}

.copyright__text span {
    color: #ffffff;
}

#hearth {
    color: red;
}

/* burger */
.burger:active, .burger:focus {
    outline: none;
}

.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 2px;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #ffffff;
    position: relative;
}

.burger__item::before, 
.burger__item::after {
    content: "";

    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    z-index: 1;
}
.burger__item::before {
    top: -8px;
}

.burger__item::after {
    bottom: -8px;
}

/* Media */

@media (max-width: 1300px) {
    /* WORKS*/
   

    .works__item {
        width: 50%;
    }

}

@media (max-width: 991px) {

    /* burger */

    .burger {
        display: block;
    }

    /* nav */
    .nav {
        display: none; 
        width: 100%;
        flex-direction: column;
        background-color: #2e304a;
        text-align: right;

        position: absolute;
        right: 0;
        top: 100%;
      
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 7px 15px;
        
    }

    /* burger */
     .burger {
        display: block;
    }

    /* intro======== */

    .intro__title {
        font-size: 40px;
    }



    /* features */

    .features__item {
        width: 50%;
    }

    /* team */ 

    .team__item {
        width: 50%;

        text-align: center;
    }

    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }

    /* social */ 
    .social {
       justify-content: center; 
    }


    /* reviews */

    .reviews__photo {
        width: 100%;
        overflow: hidden;
        margin: 15px 0 40px;
    }

    .reviews__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }

    .reviews__img {
        min-width: 991px;
        right: -15px;
    }
}

@media (max-width: 767px) {
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        margin-bottom: 30px;
        font-size: 16px;
    }

/* features*/
    
    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    /* WORKS______ */
  
    .works__item {
        
        width: 100%;
  
    }

    
    /* reviews */
    .reviews__text {
        font-size: 25px;
    }


    /* footer */ 

    .footer__inner {
        padding: 20px 0;
    }

    .footer__col {
        width: 100%;
        margin-bottom: 30px;
        padding-right: 0;
        padding-left: 0;
    }

    .footer__col:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 414px) {

    /* reviews */

    .reviews__img {
        right: -200px;
    }
}